@import '../../../../../Assets/scss/primaryColor';

.EducationalInformation{
    .col-md-4 {
        display: block;
        justify-content: center;
        align-items: center;
    }
    .uploadBtnContainer{ 
        text-align: center;
        display:flex;
        justify-content: center;
    .uploadBtn{ 
        height: 140px;
        width: 150px;
        border-width: 2px;
        margin-bottom: 20px;  
        color: $grey;
        border-style: dashed;
        border-color:  $grey;
        line-height: 120px;
        text-align: center;
        cursor:pointer;
    }
    .uploadBtnSuccess{
        height: 140px;
        width: 150px;
        border-width: 5px;
        margin-bottom: 20px;  
        color: $grey;
        border-style: dashed;
        border-color:  green;
        line-height: 120px;
        text-align: center;
        cursor:pointer;
    }
}

    .eduUploadFinished{
        h4{
            font-size: .9rem;
        } 
        .list-group-item{
            padding: 8px 5px;
            font-size: .8rem;
        }
        .list-group{
            position: relative;
            .d-icon{
                position: absolute;
                right:0;
                padding:2px; 
                border-radius:50px;
                cursor: pointer;
            }
        }
    }
}