/* addressInfo component */
.addressInfo{
    .addressInfo__titlebar {
        text-align: center;
    }
    .addressInfo__subtitle {
        text-align: center;
        margin-top: -0.5em;
        margin-bottom: 1.5em;
    }
    .active {
        font-size: 20px;
        font-weight: 700;
    }
    .addressInfo__passport {
        text-align: center;
        padding: 2em;
        border: 2px dashed gray;
        width: 18em;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    
    .addressInfo__label {
        font-weight: 600;
    }
    
    .addressInfo__photo {
        margin-bottom: 15em;
    }
    
    .addressInfo__field {
        font-family: "roboto";
        font-weight: 500;
        border: 1.5px solid gray;
    }
    
    @media (max-width: 991.98px) {
        .addressInfo {
        padding: 0 1.8em 0 1.3em;
        margin-top: 3em;
        }
        .addressInfo__pvtData {
        display: block;
        margin-top: 2.2em;
        }
        .addressInfo__surname,
        .addressInfo__firstname,
        .addressInfo__middlename,
        .addressInfo__phoneNo,
        .addressInfo__email,
        .addressInfo__gender {
        padding: 0;
        margin-top: 1.5em;
        }
    
        .addressInfo__label {
        font-size: 14px;
        }
    
        .addressInfo__field {
        width: 100%;
        margin-top: 10px;
        height: 3.5em;
        }
    
        .addressInfo__genderInput {
        /* width: 102.5%; */
        }
    }
    
    @media (min-width: 576px) and (max-width: 767.98px) {
        .addressInfo {
        padding: 0 5em;
        }
    }
    
    @media (min-width: 768px) and (max-width: 991.98px) {
        .addressInfo {
        padding: 0 10em;
        }
    }
    
    @media (min-width: 992px) {
        .addressInfo {
        padding: 0 12em;
        margin-top: 5em;
        }
        .addressInfo__pvtData,
        .addressInfo__otherData {
            // display: flex;
            // justify-content: space-between;
            // margin-top: 3em;
            width:100%
        }
    
        .addressInfo__otherData {
        margin-top: 2.5em;
        }
        .addressInfo__surname,
        .addressInfo__firstname,
        .addressInfo__middlename,
        .addressInfo__phoneNo,
        .addressInfo__email,
        .addressInfo__gender {
        padding: 0;
        }
    
        .addressInfo__label {
        font-size: 13px;
        }
    
        .addressInfo__field {
        width: 21em;
        margin-top: 12px;
        height: 3.5em;
        font-size: 13px;
        }
    
        .addressInfo__genderInput {
        /* width: 102.5%; */
        height: 3.85em;
        }
    }
    
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .addressInfo {
        padding: 0 5em;
        }
    
        .addressInfo__field {
        width: 21em;
        margin-top: 12px;
        height: 3.5em;
        font-size: 13px;
        }
    }
}  