footer{
      .reg-footer{  
            background: #002a38;
            padding: 40px 0 40px 0; 
            height: 100px;
            position: relative;
            left: 0;
            color: white
        }
    
        .reg-jkk{
            font-size: 18px;
            font-style: normal;
            color: #ff0101;
        } 
}