/* personalInfo component */
.personalInfo{
    .personalInfo__subtitle {
        text-align: center;
        margin-bottom: 1.7em;
    }
    .personalInfo__passport {
        text-align: center;
        padding: 2em;
        border: 2px dashed gray;
        width: 18em;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    
    .personalInfo__label {
        font-weight: 600;
    }
    
    .personalInfo__photo {
        margin-bottom: 15em;
    }
    
    .personalInfo__field {
        font-family: "roboto";
        font-weight: 500;
        border: 1.5px solid gray;
    }
    
    @media (max-width: 991.98px) {
        .personalInfo {
        padding: 0 1.8em 0 1.3em;
        margin-top: 3em;
        }
        .personalInfo__pvtData {
        display: block;
        margin-top: 2.2em;
        }
        .personalInfo__surname,
        .personalInfo__firstname,
        .personalInfo__middlename,
        .personalInfo__phoneNo,
        .personalInfo__email,
        .personalInfo__gender {
        padding: 0;
        margin-top: 1.5em;
        }
    
        .personalInfo__label {
        font-size: 14px;
        }
    
        .personalInfo__field {
        width: 100%;
        margin-top: 10px;
        height: 3.5em;
        }
    
        .personalInfo__genderInput {
        /* width: 102.5%; */
        }
    }
    
    @media (min-width: 576px) and (max-width: 767.98px) {
        .personalInfo {
        padding: 0 5em;
        }
    }
    
    @media (min-width: 768px) and (max-width: 991.98px) {
        .personalInfo {
        padding: 0 10em;
        }
    }
    
    @media (min-width: 992px) {
        .personalInfo {
        padding: 0 12em;
        margin-top: 5em;
        }
        .personalInfo__pvtData,
        .personalInfo__otherData {
            // display: flex;
            // justify-content: space-between;
            // margin-top: 3em;
            width:100%
        }
    
        .personalInfo__otherData {
        margin-top: 2.5em;
        }
        .personalInfo__surname,
        .personalInfo__firstname,
        .personalInfo__middlename,
        .personalInfo__phoneNo,
        .personalInfo__email,
        .personalInfo__gender {
        padding: 0;
        }
    
        .personalInfo__label {
        font-size: 13px;
        }
    
        .personalInfo__field {
        width: 21em;
        margin-top: 12px;
        height: 3.5em;
        font-size: 13px;
        }
    
        .personalInfo__genderInput {
        /* width: 102.5%; */
        height: 3.85em;
        }
    }
    
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .personalInfo {
        padding: 0 5em;
        }
    
        .personalInfo__field {
        width: 21em;
        margin-top: 12px;
        height: 3.5em;
        font-size: 13px;
        }
    }
}  