/* moreCredentials component */
.moreCredentials{
    width: auto;
    margin-top: -0.9em;

    &__titlebar {
        text-align: center;
    }
    .active {
        // 
        font-weight: 700;
    }
    &__subtitle {
        text-align: center;
        margin-top: -0.7em;
        margin-bottom: 1.7em;
        font-weight: 600;
    }
    
    //form - file field
    &__fileFields {
        margin-top: 3.1em;
    }
    &__uploadFile {
        text-align: center;
        padding: 2.5em 1.35em;
        border: 2px dashed gray;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    &__uploadFile2 {
        text-align: center;
        padding: 2.5em 1.35em;
        border: 2px dashed rgb(0, 192, 10);
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    .moreCredentials__fileField {
        text-align: center;
        padding: 2.2em;
        border: 2px dashed gray;
    }
    
    .moreCredentials__label {
        font-weight: 600;
    }
    
    .moreCredentials__photo {
        margin-bottom: 15em;
    }
    
    .moreCredentials__field {
        font-family: "roboto";
        font-weight: 500;
        border: 1.5px solid gray;
    }
    
    @media (max-width: 991.98px) {
        .moreCredentials {
        padding: 0 1.8em 0 1.3em;
        margin-top: 3em;
        }
        .moreCredentials__pvtData {
        display: block;
        margin-top: 2.2em;
        }
        .moreCredentials__surname,
        .moreCredentials__firstname,
        .moreCredentials__middlename,
        .moreCredentials__phoneNo,
        .moreCredentials__email,
        .moreCredentials__gender {
        padding: 0;
        margin-top: 1.5em;
        }
    
        .moreCredentials__label {
        
        }
    
        .moreCredentials__fileField {
        // width: 100%;
        margin-top: 10px;
        }
    
        .moreCredentials__genderInput {
        /* width: 102.5%; */
        }
    }
    
    @media (min-width: 576px) and (max-width: 767.98px) {
        .moreCredentials {
        padding: 0 5em;
        }
    }
    
    @media (min-width: 768px) and (max-width: 991.98px) {
        .moreCredentials {
        padding: 0 10em;
        }
    }
    
    @media (min-width: 992px) {
        .moreCredentials {
        padding: 0 10em;
        margin-top: 3em;
        }
        .moreCredentials__pvtData,
        .moreCredentials__otherData {
            // display: flex;
            // justify-content: space-between;
            // margin-top: 3em;
            width:100%
        }
    
        .moreCredentials__label {
        
        }
    
        .moreCredentials__fileField {
        margin-top: 25px;
        
        width: 18.5em;
        }
    }
    
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .moreCredentials {
        padding: 0 5em;
        }
    
        .moreCredentials__field {
        width: 21em;
        margin-top: 12px;
        height: 3.5em;
        
        }
    }
}  